[gcode_macro CHOPPER_TUNE]
description: Vibrations tests to calculate lowest magnitude autotune parameters v2.0    ; https://github.com/MRX8024/chopper-resonance-tuner
variable_debug: False                                                                   ; Enable debug output
variable_inset: 10                                                                      ; Offset from axis limits (mm), to determine work area limits
variable_measure_time: 1250                                                             ; Set measure time (msec)
variable_required_rpm: [37.5, 150, 1.5]                                                 ; Set range, step of motor rpm in find vibr mode
variable_delay: 500                                                                     ; Set delay between measurements (msec) in find vibr mode
gcode:
    _detect_driver stepper={params.AXIS|default('X')|string|lower}
    _chop_workflow {rawparams}

[gcode_shell_command chop_tune]
command: ~/chopper-resonance-tuner/chopper_plot.sh
timeout: 9999.0
verbose: True

[gcode_macro _detect_driver]
description: Find which driver is used in configuration
variable_drivers: '2130', '2208', '2209', '2660', '2240', '5160' ; Drivers supported by Klipper
variable_driver: 0
gcode:
    {% set stepper = 'stepper_' + params.STEPPER|string|lower %} ; Import default stepper for search its driver
    {% for driver in drivers %}
        {% if 'run_current' in printer.configfile.config['tmc' + driver + ' ' + stepper] %}
            {action_respond_info('Selected tmc%s for %s' % (driver, stepper))}
            SET_GCODE_VARIABLE MACRO=_detect_driver VARIABLE=driver VALUE={driver}
        {% endif %}
    {% endfor %}


[gcode_macro _chop_workflow]
description: Calculate process of CHOPPER_TUNE macro
gcode:
    {% set axis = params.AXIS|default('X')|string|lower %}
    {% set driver = printer['gcode_macro _detect_driver'].driver|string|lower %}        ; Import default driver from _detect_driver
    {% set extra_hyst_min = params.EXTRA_HYSTERESIS_MIN|default(0)|int %}       ; Import rawparams from CHOPPER_TUNE params
    {% set extra_hyst_max = params.EXTRA_HYSTERESIS_MAX|default(8)|int %}
    {% set tbl_min = params.TBL_MIN|default(0)|int %}
    {% set tbl_max = params.TBL_MAX|default(3)|int %}
    {% set toff_min = params.TOFF_MIN|default(1)|int %}
    {% set toff_max = params.TOFF_MAX|default(15)|int %}
    {% set min_speed = params.MIN_SPEED|default('default')|string|lower %}
    {% set max_speed = params.MAX_SPEED|default('default')|string|lower %}
    {% set speed_change_step = params.SPEED_CHANGE_STEP|default('default')|string|lower %}
    {% set required_rpm = printer['gcode_macro CHOPPER_TUNE'].required_rpm %}
    {% set iterations = params.ITERATIONS|default(1)|int %}
    {% set travel_distance = params.TRAVEL_DISTANCE|default('default')|string|lower %}
    {% set accel_chip = params.ACCELEROMETER|default('default')|string|lower %}
    {% set find_vibr = params.FIND_VIBRATIONS|default('False')|string|lower %}
    {% set run_plotter = params.RUN_PLOTTER|default('True')|string|lower %}
    {% set inset = printer['gcode_macro CHOPPER_TUNE'].inset %}
    {% set config = printer.configfile.config %}
    {% set settings = printer.configfile.settings %}
    {% set measure_time = printer['gcode_macro CHOPPER_TUNE'].measure_time / 1000|float %}
    {% set delay = printer['gcode_macro CHOPPER_TUNE'].delay|int %}
    {% set kinematics = config.printer.kinematics|string %}

    ; Select main and secondary axis / stepper, their requirements
    {% if axis in ['x', 'y', 'z'] %}
        {% if kinematics == 'corexy' %}
            {% if axis in ['x', 'y'] %}
                {% if axis == 'x' %}
                    {% set axes = ['x', 'y'] %}
                {% elif axis == 'y' %}
                    {% set axes = ['y', 'x'] %}
                {% endif %}
                {% set steppers = ['stepper_x', 'stepper_y'] %}
            {% elif axis == 'z' %}
                {% set axes = ['z', 'x'] %}
                {% set steppers = ['stepper_z'] %}
            {% endif %}

        {% elif kinematics == 'cartesian' %}
            {% if axis == 'x' %}
                {% set axes = ['x', 'y'] %}
                {% set steppers = ['stepper_x'] %}
            {% elif axis == 'y' %}
                {% set axes = ['y', 'x'] %}
                {% set steppers = ['stepper_y'] %}
            {% elif axis == 'z' %}
                {% set axes = ['z', 'x'] %}
                {% set steppers = ['stepper_z'] %}
            {% endif %}

        {% else %}
            {action_raise_error('WARNING!!! Script does not support your kinematics')}
        {% endif %}
        {% if axes[0] == 'z' %}
            {% set minAX = (settings['stepper_' + axes[0]].position_min|float, 0)|max + inset %}
            {% set acceleration = settings.printer.max_z_accel|int %}
            {% set trv_speed = config.printer.max_z_velocity|int / 2 * 60 %} ; Idle movements speed
        {% else %}
            {% set minAX = settings['stepper_' + axes[0]].position_min|float + inset %}
            {% set acceleration = config.printer.max_accel|int %}
            {% set trv_speed = config.printer.max_velocity|int / 2 * 60 %} ; Idle movements speed
        {% endif %}
        {% set maxAX = settings['stepper_' + axes[0]].position_max|float - inset %}
        {% set midAX = settings['stepper_' + axes[0]].position_min|float +
        ((settings['stepper_' + axes[0]].position_max|float -
        settings['stepper_' + axes[0]].position_min|float) / 2) %}
        {% set midBAX = settings['stepper_' + axes[1]].position_min|float +
        ((settings['stepper_' + axes[1]].position_max|float -
        settings['stepper_' + axes[1]].position_min|float) / 2) %}
    {% else %}
        {action_raise_error('WARNING!!! Incorrect direction')}
    {% endif %}


    ; Select accelerometer
    {% if accel_chip == 'default' %}
        {% if 'accel_chip' in config.resonance_tester %}
            {% set accel_chip = config.resonance_tester.accel_chip %}
        {% else %}
            {% set accel_chip = 'adxl345' %} ; Default accelerometer
        {% endif %}
    {% endif %}
    {action_respond_info('Selected %s for accelerometer' % (accel_chip))}

    ; In vibration measurement mode, search and takes registers from printer.cfg, set speed range
    {% if find_vibr == 'true' or find_vibr == '1' %}
        {% set tbl_min = settings['tmc' + driver + ' ' + steppers[0]].driver_tbl|int %}
        {% set tbl_max = tbl_min %}
        {% set toff_min = settings['tmc' + driver + ' ' + steppers[0]].driver_toff|int  %}
        {% set toff_max = toff_min %}
        {% set extra_hyst_min = config['autotune_tmc ' + steppers[0]].extra_hysteresis|default(0)|int %}
        {% set extra_hyst_max = extra_hyst_min %}
        {% set rotation_dist = config[steppers[0]].rotation_distance|float %}
        {% set gear_ratio = (config[steppers[0]].gear_ratio|default('1:1')).split(':') %}
        {% set full_steps_per_rotation = config[steppers[0]].full_steps_per_rotation|default(200)|int %}
        {% if min_speed == 'default' %}
            {% set min_speed = (required_rpm[0] / 60 * full_steps_per_rotation /
             200 / (gear_ratio[0]|int / gear_ratio[1]|int) * rotation_dist)|float %}
        {% else %}
            {% set min_speed = min_speed|float %}
        {% endif %}
        {% if max_speed == 'default' %}
            {% set max_required_mms = (required_rpm[1] / 60 * full_steps_per_rotation /
             200 / (gear_ratio[0]|int / gear_ratio[1]|int) * rotation_dist)|int %}
            {% set max_speed = (((-acceleration * measure_time + ((acceleration * measure_time) ** 2 +
             4 * acceleration * (maxAX - minAX)) ** 0.5) / 2), max_required_mms)|min|float %}
        {% else %}
            {% set max_speed = max_speed|float %}
        {% endif %}
        {% if speed_change_step == 'default' %}
            {% set speed_change_step = required_rpm[2] / 60 * full_steps_per_rotation /
            200 / (gear_ratio[0]|int / gear_ratio[1]|int) * rotation_dist  %}
        {% else %}
            {% set speed_change_step = speed_change_step|float %}
        {% endif %}
    {% else %}
        ; Protect not defined speed & converting str -> float
        {% if min_speed == 'default' or max_speed == 'default' %}
            {action_raise_error('WARNING!!! Resonance speed must be defined')}
        {% endif %}
        {% set min_speed, max_speed = min_speed|float, max_speed|float %}

        {% set speed_change_step = 1 %}
    {% endif %}

    ; Check speed limit
    {% if max_speed > trv_speed / 30 %}
        {action_raise_error('WARNING!!! Required speed (%d mm/s) on axis (%s)'
        ' is faster than kinematics allow, please lower speed or increase'
         ' speed limit in printer.cfg' % (max_speed, axes[0]))}
    {% endif %}

    ; Calculate min required toolhead travel distance from speed, acceleration and time
    {% set accel_decel_distance = max_speed ** 2 / acceleration %}
    {% set auto_travel_distance = accel_decel_distance + (max_speed * measure_time) %}
    {% if printer['gcode_macro CHOPPER_TUNE'].debug %}
        {action_respond_info('Acceleration & deceleration zone = %f mm' % (accel_decel_distance))}
        {action_respond_info('Auto calculated min required travel distance = %f mm' % (auto_travel_distance))}
    {% endif %}

    ; Protect exceeding axis limits & calculate travel distance
    {% if travel_distance == 'default' %}
        {% if minAX + auto_travel_distance > maxAX %}
            {action_raise_error('WARNING!!! Required travel distance on axis (%s)'
             ' (%.2f mm) is longer than kinematics allows, please lower'
              ' speed or increase acceleration' % (axes[0], auto_travel_distance))}
        {% endif %}
        {% set travel_distance = auto_travel_distance %}
    {% else %}
        {% set travel_distance = travel_distance|int %}
        {% if minAX + travel_distance > maxAX %}
            {% set travel_distance = maxAX - minAX %}
            {% if travel_distance < auto_travel_distance %}
                {action_raise_error('WARNING!!! Travel distance on axis (%s) is less than'
                 ' it should be, please increase acceleration or lower speed' % (axes[0]))}
            {% else %}
                {action_respond_info('WARNING!!! Travel distance on axis (%s)'
                 ' is longer than kinematics allows, lowering...' % (axes[0]))}
            {% endif %}
        {% else %}
            {% if travel_distance < auto_travel_distance %}
                {% set travel_distance = auto_travel_distance %}
                {% if minAX + auto_travel_distance > maxAX %}
                    {action_raise_error('WARNING!!! Travel distance on axis (%s) is less'
                     ' than required (%.2f mm), and longer than kinematics allows, please lower'
                      ' speed or increase acceleration' % (axes[0], auto_travel_distance))}
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}

    ; Info message
    {% if find_vibr == 'true' or find_vibr == '1' %}
        {action_respond_info('Final max travel distance = %.2f mm, position min = %.2f, traveling: %.2f --> %.2f' %
         (travel_distance, minAX, minAX, travel_distance + minAX))}
        {action_respond_info('Start find vibration mode, speed: %.2f  --> %.2f mm/s with %.2f step EXTRA_HYST=%d TBL=%d TOFF=%d' %
         (min_speed, max_speed, speed_change_step, extra_hyst_min, tbl_min, toff_min))}
    {% else %}
        {action_respond_info('Final travel distance = %.2f mm, position min = %.2f, traveling: %.2f --> %.2f' %
         (travel_distance, minAX, minAX, travel_distance + minAX))}
        {action_respond_info('Start autotune parameter sweep, speed: %.2f  --> %.2f  mm/s iterations=%d EXTRA_HYSTERESIS: %d --> %d TBL: %d --> %d TOFF: %d --> %d' %
          (min_speed, max_speed, iterations, extra_hyst_min, extra_hyst_max, tbl_min, tbl_max, toff_min, toff_max))}
    {% endif %}

    ; Check for axis homing
    {% if not 'xyz' in printer.toolhead.homed_axes %}
        G28 X Y Z
    {% endif %}

    SET_VELOCITY_LIMIT ACCEL={acceleration}
    SET_VELOCITY_LIMIT ACCEL_TO_DECEL={acceleration}
    G0 {axes[0]}{minAX} {axes[1]}{midBAX} F{trv_speed}                                  ; Move to the initial position
    RUN_SHELL_COMMAND CMD=chop_tune PARAMS='cleaner'                                    ; Clean csv files
    ACCELEROMETER_MEASURE CHIP={accel_chip} NAME=stand_still
    G4 P5000
    ACCELEROMETER_MEASURE CHIP={accel_chip} NAME=stand_still

    {% for extra_hyst in range(extra_hyst_min, extra_hyst_max + 1) %}
        {% for tbl in range(tbl_min, tbl_max + 1) %}
            {% for toff in range(toff_min, toff_max + 1) %}
                {% for stepper in steppers %}
                    AUTOTUNE_TMC STEPPER={stepper} EXTRA_HYSTERESIS={extra_hyst} TBL={tbl} TOFF={toff}
                {% endfor %}
                G4 P100
                {% for speed in range((min_speed * 100)|int, (max_speed * 100)|int + 1, (speed_change_step * 100)|int) %}
                    {% set speed = speed / 100 %}
                    {% for i in range(iterations) %}
                        {% if find_vibr == 'true' or find_vibr == '1' %}
                            {% set travel_distance  = (travel_distance / max_speed) * speed %}
                            G4 P{delay}
                            M118 Speed {speed|round(2)} mm/s on {travel_distance|round(2)} mm
                        {% endif %}
                        {% set name = '__eh%d_tbl%d_toff%d_speed%d_iter%d__' %
                         (extra_hyst, tbl, toff, speed*100, i+1) %}
                        ACCELEROMETER_MEASURE CHIP={accel_chip} NAME={name} ; Start accelerometer data collection
                        G0 {axes[0]}{minAX + travel_distance} F{speed*60}   ; Movement
                        ACCELEROMETER_MEASURE CHIP={accel_chip} NAME={name} ; Stop accelerometer data collection
                        G0 {axes[0]}{minAX} F{trv_speed}                    ; Move to the initial position
                        M400
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        {% endfor %}
    {% endfor %}

    G4 P500
    G0 {axis}{midAX} F{trv_speed}
    {% if run_plotter == 'true' or run_plotter == '1' %}
        M118 Magnitude graphs generation...
        M118 This may take a while, please wait
        RUN_SHELL_COMMAND CMD=chop_tune PARAMS='{'iterations=%d'%(iterations)}'
    {% endif %}
    M118 For run parser manually type - RUN_SHELL_COMMAND CMD=chop_tune PARAMS='{'iterations=%d'%(iterations)}'
